/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: 'Fredoka', sans-serif;

}

/*Utilis*/
img{ 
    width: 80px;
    height: 80px;
    text-align: left;
}


/*H1*/
h1{
    color: #ce346a;
    font-size: 30px;
    font-weight: 800px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

/*Main*/
.container{
    width: 80%;
    margin-left: 8rem;
    margin-top: 3rem;
    
}

.text-main{
    text-align: center;
    margin-bottom: 90px;

}

.card{
    width: 250px;
    height: 70px;
    background-color: black;
    font-size: small;
    color: white;
    font-weight: lighter;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

a{
    text-decoration: none;
    color:rgb(59, 129, 129);
}

.column{
    border-right: 1rem;
    border-bottom: 5rem;
    float: left;
    margin-right:1rem:

}

img{
    float: left;
    width: 70px;
    height: 70px;
}

.clearfix{
    content: '';
    clear: both;
    display: table;
}

